<div class='container'>

  <form name='get_form' action='/cool_url' method='get'>
    GET: <input type="text" name="form_1"></input>
    <input type="submit" value="Submit">
  </form>

</br>

  <form name='post_form' action='/cool_url' method='post'>
    POST: <input type="text" name="form_2"></input>
    <input type="submit" value="Submit">
  </form>

</div>